<h1 class = 'center'> edit Recip </h1>

<% if @recipe.errors.any?%>
  <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg%></li>
    <%end%>
  </ul>
<%end%>
<div class="container">


<%= form_for @recipe, url: user_recipe_path(@user.id,@recipe.id), html: {method: "put"}, html: { multipart: true } do |f|%>
  <div class="form-group">
    <%= f.label :name%>
    <%= f.text_field :name, autofocus: true, :class=>"form-control", :id=>"exampleInputEmail1", :placeholder=>"Enter name"%>
  </div>
   <div class="form-group">
    <%= f.label :origin%>
   <%= f.text_field :origin, autofocus: true, :class=>"form-control", :id=>"exampleInputEmail1", :placeholder=>"Enter Coutry of Origin"%>
  </div>
   <div class="form-group">
   <%= f.label :description%>
  <%= f.text_area :description, autofocus: true, :class=>"form-control", :id=>"exampleInputEmail1"%>
  </div>

   <div class="form-group">
   <%= f.label :image%>
  <%= f.file_field :image, :class=>"form-control-file ", :id=>"exampleInputEmail1"%>
  </div>
    <%= f.submit  :class=>'btn btn-success btn-lg' %>
<%end%>
</div>