<h1 class='center'> List of recipe</h1>
<%= link_to 'login', login_path%>
<div class = 'container '>
  <% @recipe.each do |recipe | -%>
      <div class="col s12 m7 ">
        <div class="card">
          <div class="card-image">
            <%= image_tag("img3.jpg", :alt => "rss feed" ,:height => "600px",:width => "400px")%>
            <span class="card-title"><%= recipe.name%></span>
          </div>
          <div class="card-content">
            Origin: <%= recipe.origin%>
            <p><%= recipe.description%></p>
           Created_by: <%= recipe.user.name if recipe.user %>
            comment:
            <% recipe.comment.each do |c|%>
            <%= c.comment%><br/>
            <%end%>
          </div>
          <div class="card-action">
            <%= link_to 'view', view_user_recipe_path(recipe.user.id, recipe.id), method: :get%>
            <%= link_to 'comment', new_user_recipe_comment_path(recipe.user.id, recipe.id)%><%=recipe.comment.count%>
            <%= link_to '<i class="material-icons">thumb_up</i>'.html_safe%>
            <%= link_to '<i class="material-icons">favorite</i>'.html_safe%>
            created <%= time_ago_in_words(recipe.created_at)%> ago
          </div>
        </div>
      </div>
  <% end -%>

</div>

