<h1 class='center'> List of recipe</h1>
<div class = 'container'>
 <table class="responsive-table striped">
    <tr>
      <th>Name</th>
      <th>Origin</th>
      <th class ="center">Description</th>
      <th>Comments</th>
      <th>Date created</th>
      <th></th>
      <th></th>
    </tr>
    <% @recipe.each do |recipe | -%>
      <tr>
        <td><%= recipe.name%></td>
        <td><%= recipe.origin%></td>
        <td><%= recipe.description%></td>
        <td>
        <% recipe.comment.each do |c|%>
            <%= c.comment%><br/>
        <%end%>
        </td>
        <td><%= recipe.created_at%></td>

        <td><%= link_to 'view', view_recipe_path(recipe.id), method: :get%></td>
        <td><%= link_to 'comment', new_recipe_comment_path(recipe.id)%></td>

      </tr>
    <% end -%>
  </table>
  </div>

