
<p>name:<%= @recipe.name%></p>
<p>origin:<%= @recipe.origin%></p>

<h1> add ingredients</h1>



<%= form_tag({controller: "ingredients", action: "create"}, method: "post") do |f|%>
  <%= hidden_field_tag(:recipe_id, @recipe.id) %>
  <%= label_tag(:ingredient, "Ingredient") %>
  <%= text_field_tag(:ingredient) %>
  <%= label_tag(:qty, "Qty") %>
  <%= text_field_tag(:qty) %>
  <%= submit_tag("add ingredient") %>
<%end%>

<h1> add Step</h1>

<%= form_tag({controller: "steps", action: "create"}, method: "post") do |f|%>
  <%= hidden_field_tag(:recipe_id, @recipe.id) %>
  <%= label_tag(:step, "step") %>
  <%= text_field_tag(:step) %>
  <%= submit_tag("add step") %>
<%end%>

<h1> list of ingredient</h1>

  <table>
    <tr>
      <th>Ingredient</th>
      <th>Qty</th>
      <th>create at</th>
    </tr>
    <% @recipe.ingredient.each do |ingredients| -%>
      <tr>
        <td><%= ingredients.ingredient%></td>
        <td><%= ingredients.qty%></td>
        <td><%= ingredients.created_at%></td>
      </tr>
    <% end -%>

  </table>


<h1> list of Steps</h1>

  <table>
    <%@recipe.steps.each do |step| -%>
     <tr>
        <td><%= step.step%></td>
      </tr>
    <%end-%>
  </table>





