
<p>name:<%= @recipe.name%></p>
<p>origin:<%= @recipe.origin%></p>

<h1> add ingredients</h1>

<%= form_tag({controller: "ingredients", action: "create"}, method: "post") do |f|%>
  <%= hidden_field_tag(:recipe_id, @recipe.id) %>
  <%= label_tag(:ingredient, "Ingredient") %>
  <%= text_field_tag(:ingredient) %>
  <%= label_tag(:qty, "Qty") %>
  <%= text_field_tag(:qty) %>
  <%= submit_tag("add ingredient") %>
<%end%>

<%= form_tag({controller: "steps", action: "create"}, method: "post") do |f|%>
  <%= hidden_field_tag(:recipe_id, @recipe.id) %>
  <%= label_tag(:step, "step") %>
  <%= text_field_tag(:step) %>
  <%= submit_tag("add step") %>
<%end%>


