<header class="foobar" style="background-image: url(<%= @recipe.image.url %>)"></header>
<div class="card-body">
    <div class="card-header bg-info">
    <small class="text-light">Name: <%=@recipe.name%></small><br/>
    <small class="text-light">Origin: <%=@recipe.origin%></small><br/>
    <small class="text-light">Created_by: <%=@recipe.user.name%></small>
    </div>
</div>
  <div class="card-body">
    <blockquote class="blockquote">
    <small class="text-muted"><p class="lead text-size" ><%= @recipe.description%></p></small>
     <footer class="blockquote-footer">description</footer>
    </blockquote>
  </div>
  <div class="card-footer text-muted shadow-lg p-3 mb-5 footer-view_color rounded">
      <div class="row">
         <div class="col-sm ">
            <div class="row">
                <div class="col-sm">
                  <span class="dot"><%=@recipe.dislike.count%></span>
                  <i class="material-icons text-info">thumb_down</i>
                </div>
            <div class="col-sm">
                <span class="dot"><%=@recipe.favorite.count%></span>
                <i class="material-icons text-danger">favorite</i>
            </div>
          </div>

         </div>


          <div class="col-sm display">
            <%= link_to '<i class="material-icons text-danger">delete recipe</i>'.html_safe ,user_recipe_path(@user.id,@recipe.id),method: :delete, data: {confirm: "are you sure want to delete this recipe?"},:class=>"no-padding"%>
  <%= link_to '<i class="material-icons ">edit recipe</i>'.html_safe ,edit_user_recipe_path(@user.id,@recipe.id), :class=>"no-padding"%>
         </div>
          <div class="col-sm">
              <span class= "time-card">
                <small class="text-muted"> Created <%= time_ago_in_words(@recipe.created_at)%> ago</small>
                <small class="text-muted"> | Last Update <%= time_ago_in_words(@recipe.updated_at)%> ago</small>
              </span>
            </div>
      </div>


  </div>

<div class='container'>
<%= form_tag(user_recipe_ingredients_path(@user.id, @recipe.id),method: :post) do |f|%>
 <div class="row">
    <div class="col">
      <%= label_tag :ingredient, "Ingredient" %>
      <%= text_field_tag :ingredient, "", class: 'form-control' %>
     </div>
     <div class="col">
      <%= label_tag :qty, "Qty" %>
      <%= text_field_tag :qty, "", class: 'form-control' %>
     </div>

  </div>
  <%= submit_tag "Add Ingredient",class:'btn btn-success btn-add_ing' %>
<%end%>




<h5 class ='text-center text-uppercase font-weight-light '> list of ingredient</h5>

  <table class="table">
    <tr>
      <th>Ingredient</th>
      <th>Qty</th>
      <th>create at</th>
      <th></th>
      <th></th>
    </tr>
    <% @recipe.ingredient.each do |ingredients| -%>
      <tr>
        <td><%= ingredients.ingredient%></td>
        <td><%= ingredients.qty%></td>
        <td><%= ingredients.created_at%></td>
        <td><%= link_to '<i class="material-icons text-danger">delete</i>'.html_safe, user_recipe_ingredient_path(@user.id ,@recipe.id,ingredients.id),method: :delete, data: {confirm: "are you sure?"} %></td>
        <td><%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_user_recipe_ingredient_path(@user.id,@recipe.id,ingredients.id) %></td>

      </tr>
    <% end -%>

  </table>


<%= form_tag(user_recipe_steps_path(@user.id, @recipe.id),method: :post) do |f|%>
 <div class="form-group ">
  <%= text_field_tag :step, "", class: 'form-control input-margin-top',placeholder:"enter the steps here" %>
  </div>
  <%= submit_tag "Add step",class:'btn btn-success' %>
<%end%>

<h5 class = 'text-center text-uppercase font-weight-light'> list of Steps</h4>

  <table class="table">
    <%@recipe.steps.each do |step| -%>
     <tr>
        <td><%= step.step%></td>
        <td><%= link_to '<i class="material-icons text-danger">delete</i>'.html_safe, user_recipe_step_path(@user.id,@recipe.id,step.id),method: :delete, data: {confirm: "are you sure?"} %></td>
        <td><%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_user_recipe_step_path(@user.id,@recipe.id,step.id) %></td>
      </tr>
    <%end-%>
  </table>

  </div>







