
<p>name:<%= @recipe.name%></p>
<p>origin:<%= @recipe.origin%></p>
<p>description:<%= @recipe.description%></p>

<h5 class='center'> add ingredients</h5>
<div class='container'>
<%= form_tag(recipe_ingredients_path(@recipe.id),method: :post) do |f|%>
  <%= label_tag(:ingredient, "Ingredient") %>
  <%= text_field_tag(:ingredient) %>
  <%= label_tag(:qty, "Qty") %>
  <%= text_field_tag(:qty) %>
  <%= submit_tag("add ingredient") %>
<%end%>


<h5 class = 'center'> add Step</h5>

<%= form_tag(recipe_steps_path(@recipe.id),method: :post) do |f|%>
  <%= label_tag(:step, "step") %>
  <%= text_field_tag(:step) %>
  <%= submit_tag("add step") %>
<%end%>

<h5 class ='center'> list of ingredient</h5>

  <table class="responsive-table">
    <tr>
      <th>Ingredient</th>
      <th>Qty</th>
      <th>create at</th>
    </tr>
    <% @recipe.ingredient.each do |ingredients| -%>
      <tr>
        <td><%= ingredients.ingredient%></td>
        <td><%= ingredients.qty%></td>
        <td><%= ingredients.created_at%></td>
        <td><%= link_to 'delete', recipe_ingredient_path(@recipe.id,ingredients.id),method: :delete, data: {confirm: "are you sure?"} %></td>
        <td><%= link_to 'edit', edit_recipe_ingredient_path(@recipe.id,ingredients.id) %></td>

      </tr>
    <% end -%>

  </table>


<h5 class = 'center'> list of Steps</h4>

  <table class="responsive-table">
    <%@recipe.steps.each do |step| -%>
     <tr>
        <td><%= step.step%></td>
        <td><%= link_to 'delete', recipe_step_path(@recipe.id,step.id),method: :delete, data: {confirm: "are you sure?"} %></td>
        <td><%= link_to 'edit', edit_recipe_step_path(@recipe.id,step.id) %></td>
      </tr>
    <%end-%>
  </table>
  <%= link_to 'delete recipe' ,recipe_path(@recipe.id),method: :delete, data: {confirm: "are you sure?"}  %>
  </div>







