<header>

</header>
 <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">name:<%= @recipe.name%></h5>
    <h5 class="card-title">origin:<%= @recipe.origin%></h5>
    <p class="card-text">description:<%= @recipe.description%></p>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>

  <div class="container">
  <div class="row">
  <div class="col-6">
<h5 class ='center'> list of ingredient</h5>

  <table class="table">
    <tr>
      <th>Ingredient</th>
      <th>Qty</th>
      <th>create at</th>
    </tr>
    <% @recipe.ingredient.each do |ingredients| -%>
      <tr>
        <td><%= ingredients.ingredient%></td>
        <td><%= ingredients.qty%></td>
        <td><%= ingredients.created_at%></td>
      </tr>
    <% end -%>

  </table>

  </div>
    <div class="col-6">
<h5 class = 'center'> list of Steps</h4>

  <table class="table">
    <%@recipe.steps.each do |step| -%>
     <tr>
        <td><%= step.step%></td>
      </tr>
    <%end-%>
  </table>

  </div>
</div>

</div>




