<p>name:<%= @recipe.name%></p>
<p>origin:<%= @recipe.origin%></p>
<p>description:<%= @recipe.description%></p>


<h5 class ='center'> list of ingredient</h5>

  <table class="responsive-table">
    <tr>
      <th>Ingredient</th>
      <th>Qty</th>
      <th>create at</th>
    </tr>
    <% @recipe.ingredient.each do |ingredients| -%>
      <tr>
        <td><%= ingredients.ingredient%></td>
        <td><%= ingredients.qty%></td>
        <td><%= ingredients.created_at%></td>
      </tr>
    <% end -%>

  </table>


<h5 class = 'center'> list of Steps</h4>

  <table class="responsive-table">
    <%@recipe.steps.each do |step| -%>
     <tr>
        <td><%= step.step%></td>
      </tr>
    <%end-%>
  </table>
