

  <header class="foobar" style="background-image: url(<%= @recipe.image.url %>)"></header>

 <div class="card-header">
    <small class="text-muted">Name: <%=@recipe.name%></small><br/>
    <small class="text-muted">Origin: <%=@recipe.origin%></small><br/>
    <small class="text-muted">Created_by: <%=@recipe.user.name%></small>
  </div>
  <div class="card-body">
    <blockquote class="blockquote">
    <small class="text-muted"><p class="lead text-size" ><%= @recipe.description%></p></small>
     <footer class="blockquote-footer">description</footer>
    </blockquote>
  </div>
  <div class="card-footer text-muted">
  <div class="row">
            <div class="col-sm">
              <span class="comment-view">
                <a href='#' class="card-view-comment" data-toggle="modal" data-target="#comment_model" data-whatever="@mdo">comment</a>
                <span class="dot"><%=@recipe.comment.count%></span>
              </span>
            </div>

            <div class="col-sm">
              <span class='love-dislike'>
                <%= link_to '<i class="material-icons">thumb_down</i>'.html_safe%>
                <%= link_to '<i class="material-icons">favorite</i>'.html_safe%>
              </span>
            </div>

            <div class="col-sm">
              <span class= "time-card">
                <small class="text-muted"> Created <%= time_ago_in_words(@recipe.created_at)%> ago</small>
                <small class="text-muted"> | Last Update <%= time_ago_in_words(@recipe.updated_at)%> ago</small>
              </span>
            </div>

          </div>
  </div>

  <div class="container">
  <div class="row">
  <div class="col-6">
<h5 class ='center'> list of ingredient</h5>
  <table class="table">
    <tr>
      <th></th>
      <th>Ingredient</th>
      <th>Qty</th>
      <th>create at</th>
    </tr>
    <% @recipe.ingredient.each do |ingredients| -%>
      <tr>
        <th id="counter" class="dot-big"><%=counter%></th>
        <td><%= ingredients.ingredient%></td>
        <td><%= ingredients.qty%></td>
        <td><%= ingredients.created_at%></td>
      </tr>
    <% end -%>

  </table>

  </div>
    <div class="col-6">
<h5 class = 'center'> list of Steps</h4>

  <table class="table">
    <%@recipe.steps.each do |step| -%>
     <tr>
        <td><%= step.step%></td>
      </tr>
    <%end-%>
  </table>

  </div>
</div>

</div>






