<h1 class = 'center'> register a user </h1>

<% if @user.errors.any?%>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg%></li>
    <%end%>
  </ul>
<%end%>

<div class= 'container'>

<%= form_for @user do |f|%>
  <div class="form-group">
    <%= f.label :name%>
    <%= f.text_field :name, autofocus: true, :class=>"form-control", :id=>"exampleInputEmail1", :placeholder=>"Enter name"%>
  </div>
   <div class="form-group">
    <%= f.label :phone%>
   <%= f.phone_field :phone, autofocus: true, :class=>"form-control", :id=>"exampleInputEmail1", :placeholder=>"Enter Phonr number"%>
  </div>
   <div class="form-group">
    <%= f.label :email%>
   <%= f.email_field :email, autofocus: true, :class=>"form-control", :id=>"exampleInputEmail1", :placeholder=>"Enter email"%>
  </div>
  <div class="form-group">
   <%= f.label :password%>
   <%= f.password_field :password, autofocus: true, :class=>"form-control", :id=>"exampleInputEmail1", :placeholder=>"Password"%>
  </div>
    <%= f.submit 'Sign Up', :class => 'btn btn-success' %>
<%end%>




</div>