<div class='container'>
<h1> edit ingredient</h1>


<%= form_for(@ingredient, url: user_recipe_ingredient_path(@user.id,@recipe.id,@ingredient), html: {method: "put"}) do |f|%>
<%= f.label :ingredient%>
<%= f.text_field :ingredient, autofocus: true, :class=>"form-control"%>
<%= f.label :qty%>
<%= f.text_field :qty, autofocus: true, :class=>"form-control"%>
<%= f.submit :class => "btn btn-success" %>
<%end%>
</div>