<div class="navbar-fixed">
    <nav class="orange darken-3">
      <div class="nav-wrapper">
        <div class="container">
          <%= link_to 'FoodUp', root_path, :class=>"brand-logo left" %>
          <ul id="nav-mobile" class="right hide-on-small-and-down">
            <li class="active amber">
             <%= link_to 'Home', root_path %>
            </li>
            <li>
              <% if logged_in?%>
                <%=user_name %>
               <li>
                <%= link_to 'Log Out', logout_path, method: :delete %>
                </a>
              </li>
              <%else%>
                <%= link_to 'Log In',  login_path%>
                <li>
                <%= link_to 'Sign Up', new_user_path, method: :delete %>
                </li>
              <%end%>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

    <ul id="my-dropdown" class="dropdown-content">
    <li>
      <a href="#">Link 1</a>
    </li>
    <li>
      <a href="#">Link 2</a>
    </li>
    <li>
      <a href="#">Link 3</a>
    </li>
  </ul>